* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #4f4f4f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.container {
  background-color: #fefefa;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 100%;
  padding: 10px;
  background: linear-gradient(90deg, #d3d3d3 45%, #d3d3d3 100%);
}

div .header {
  display: inline-flex;
  width: 100%;
  padding: 10px;

  justify-content: space-between;
}

.tema {
  align-items: center;

  margin-left: 40px;
  margin-top: 10px;
}

.logo {
  width: 60px;
}

.Descrição {
  margin-top: 10px;
}

div.stickers input[type='checkbox'] {
  display: none;
}

div.stickers input[type='checkbox']:checked + label {
  background: #696969;
  color: #00deff;
  transition: 1s;
  font-weight: 700;
}

div.stickers label {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px;
}

div.stickers label p {
  margin-left: 10px;
}

.number {
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 30px;
  border: 2px solid black;
  transition: 0.5s;
  margin-top: 10px;
  margin-bottom: 10px;
}

.number:hover {
  width: 80px;
  border: 2px solid #00deff;

  background: #4f4f4f;
}

.number .next {
  position: absolute;
  top: 50%;
  right: 15px;
  display: block;
  width: 10px;
  height: 10px;
  border-top: 2px solid #00deff;
  border-left: 2px solid #00deff;
  z-index: 1;
  transform: translateY(-50%) rotate(135deg);
  cursor: pointer;
  opacity: 0;
  transition: 0.5s;
}

.number .next:hover {
  opacity: 1;
  right: 15px;
}

.number .prev {
  position: absolute;
  top: 50%;
  left: 15px;
  display: block;
  width: 10px;
  height: 10px;
  border-top: 2px solid #00deff;
  border-left: 2px solid #00deff;
  z-index: 1;
  transform: translateY(-50%) rotate(315deg);
  cursor: pointer;
  opacity: 0;
  transition: 0.5s;
}

.number .prev:hover {
  opacity: 1;
  left: 15px;
}

#box span {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 28px;
  display: none;
  color: black;
  font-size: 24px;
  font-weight: 700;
  user-select: none;
}

#box span:hover {
  color: #00deff;
  transition: 0.5s;
}

#box span:nth-child(1) {
  display: initial;
}

.textarea {
  background: white;
  width: 100%;
  height: 100px;
  border: none;
  border-radius: 7px;
  margin-top: 10px;
}

.textarea::placeholder {
  color: Black;
}

button {
  border: none;
  width: 150px;
  height: 30px;
  border-radius: 7px;
  margin-top: 15px;
  background: black;
  color: #00deff;
  font-weight: 600;
  margin-left: 30%;
}

button:hover {
  background: #00deff;
  color: black;
  height: 35px;
  font-weight: 700;
  transition: 0.5s;
}
